<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{src/main/resources/static/style.css}" rel="stylesheet" type="text/css">
    <title>Web Library</title>
</head>
<body>
    <h1 align="center">Book form</h1>

    <form method="post" th:action="@{/books/__${action}__}" th:object="${book}" autocomplete="off">
        <div class="book-form-create">
            <label for="isbn" class="form-label">Book ISBN</label>
            <input type="number" class="form-control" id="isbn"  placeholder="" th:field="*{isbn}">
            <label for="title" class="form-label">Book Title</label>
            <input type="text" class="form-control" id="title" placeholder="" th:field="*{title}">
            <label for="year" class="form-label">Book Year</label>
            <input type="number" class="form-control" id="year" placeholder="" th:field="*{year}">
            <label for="bookCopies" class="form-label">Book Copies</label>
            <input type="number" class="form-control" id="bookCopies"  placeholder="" th:field="*{bookCopies}">
            <label for="borrowedBooks" class="form-label">Books Borrowed</label>
            <input type="number" class="form-control" id="borrowedBooks"  placeholder="" th:field="*{borrowedBooks}">
            <label for="booksRemaining" class="form-label">Books Remaining</label>
            <input type="number" class="form-control" id="booksRemaining"  placeholder="" th:field="*{booksRemaining}">

            <label for="author" class="form-label">Author</label>
            <select class="form-control" id="author" th:field="*{author}">
                <option th:each="author:${authors}" th:text="${author.name}" th:value="${author.id}"></option>
            </select>
            <label for="editorial" class="form-label">Editorial</label>
            <select class="form-control" id="editorial" th:field="*{editorial}">
                <option th:each="editorial:${editorials}" th:text="${editorial.name}" th:value="${editorial.id}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" th:text="${action == 'save'} ? 'Save' : 'Save changes'"></button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>