<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- BootStrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <!-- Css stylesheet -->
    <link th:href="@{src/main/resources/static/style.css}" rel="stylesheet" type="text/css">
    <title>Web Library</title>
</head>
<body>
    <header th:replace="fragment.html :: header"></header>
    <div th:replace="fragment.html :: alert-message"></div>

    <h1>Editorials</h1>
    <div th:if="${editorials.isEmpty()}">
        <h2>The lis is empty</h2>
    </div>
    <div th:unless="${editorials.isEmpty()}">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="editorial:${editorials}">
                    <td th:text="${editorial.name}"></td>
                    <td><a class="btn btn-light" th:href="@{/editorials/modify/__${editorial.id}__}">Edit</a></td>
                    <td><a class="btn btn-info" th:href="@{/editorials/delete/__${editorial.id}__}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-dark" th:href="@{/editorials/create}">Add</a>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>